
@{
    ViewBag.Title = "Index";
}

<h2>Crear Categoria

          nombre:   @ViewBag.nombre
          descripcion:  @ViewBag.descripcion
          es publico:  @ViewBag.publico_categoria 
    </h2>
<form data-toggle="validator" role="form" method="POST">

   

    <div class="form-group">
        <label class="control-label" for="nombre">Nombre Categoria : </label>
        <input data-toggle="validator" class="form-control" pattern="^([_A-z0-9 ]){3,}$" maxlength="30" type="text" name="nombrecategoria" placeholder="Ingresa una categoria" required value="" /> <!--En value debe ir el VIEW DATA-->
        <span class="help-block with-errors"> Máximo 30 caracteres </span>

    </div>

    <div class="form-group">

        <label class="control-label" for="descripcion"> </label>
        <textarea data-toggle="validator" placeholder="Descripcion de la categoria" data-minlegth="1" class="form-control" name="descripcioncategoria" required rows="3"></textarea>
        <div class="help-block with-errors"></div>
    </div>



    <div class="checkbox">
        <label>
            <input type="checkbox"  name="publico_categoria" value="valor">
            Tema Publico?
        </label>

    </div>


 
    <div>
        <button type="submit" class="btn btn-primary"> Crear Categoria</button>

    </div>


</form>
