@model foro2.Models.Persona
@using WebMatrix.Data 
@{
    ViewBag.Title = "VistaPrueba3";
}


@{Layout = "tablasforo.cs";
var db = Database.Open("XE");

var query = db.Query(" use XE SELECT * FROM categoria");
}
<html>
<body>
    <h1>Customers</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>wijswi</th>
        </tr>
        @foreach (var row in query)
        {
            <tr>
                <td>@row.id_categoria</td>
                <td>@row.nombre</td>
                <td>@row.descripcion</td>
                <td>@row.publico</td>
            </tr>
        }
    </table>
</body>
</html>