
@{
    ViewBag.Title = "registro";
}

<h2>registro</h2>

<div class="registro">
    <form id="registro" action="registro" method="post">
        <fieldset>
        <label for="username">Nombre Usuario</label>
        <input type="text" id="username" maxlength="20" />   
        <label for="password">Contrasenna </label>
        <input type="password" name="password" id="password"  maxlength="20"/>
        <input type="submit" name="submit" value="Enviar"/>
        </fieldset>
    </form>


</div>