
@{
    ViewBag.Title = "Nuevo Tema";
}

<h1 class="text-center">Nuevo Tema</h1>

<form data-toggle="validator" role="form" method="POST">

    <input type="hidden" name="id_categoria_string" value="@ViewBag.seleccion" />
   
    <div class="form-group">
        <label class="control-label" for="nombre">Nombre Tema : </label>
        <input data-toggle="validator" class="form-control" pattern="^([_A-z0-9 ]){3,}$" maxlength="30" type="text" name="nombre" placeholder="Ingresa un tema" required value="" /> <!--En value debe ir el VIEW DATA-->
        <span class="help-block with-errors"> Máximo 30 caracteres </span>

    </div>

    <div class="form-group">

        <label class="control-label" for="descripcion"> </label>
        <textarea data-toggle="validator" placeholder="Descripcion del tema" data-minlegth="1" class="form-control" name="descripcion" required rows="3"></textarea>
        <div class="help-block with-errors"></div>
    </div>
   
  
    <div class="form-group">
        <p>Acceso al tema: (Escriba publico o privado, cualquier otra opcion se asumirá como privada)</p>
        <input class="form-control" maxlength="30" type="text" name="publico" placeholder="Ingresa un tema" required value="publico" />

    </div>


    <div class="form-group"> 
        <label class="control-label" for="mensaje"> Mensaje: </label> <br />
        <textarea data-toggle="validator" class="form-control" name="mensaje" data-minlegth="1" placeholder="Escribe aqui tu mensaje" rows="6" required style="max-width:600px;width:600px;height:300px;"></textarea>
        <div class="help-block with-errors"></div>
    </div>
    <div>
        <button type="submit" class="btn btn-success"> Crear Tema</button>

    </div>


</form>
