
@{
    ViewBag.Title = "Responder";
}

<h2>Comentar</h2>



<h2>   @ViewBag.Comentar</h2> <!--Aqui se indican los errores que existieron-->




<form data-toggle="validator" role="form" method="POST">

    <input type="hidden" name="id_tema_string" value="@ViewBag.temaenseleccion" />
    <div class="form-group">

        <label class="control-label" for="comentario">Comentario </label>


        <textarea name="comentario" data-toggle="validator" data-minlength="1" class="form-control" placeholder="Escribe tu comentario" rows="4" required></textarea>
        <div class="help-block with-errors"></div>

     </div>


   
    <button type="submit" class="btn btn-success"> Enviar Comentario </button>

</form>
