
@{
    ViewBag.Title = "Index";
    if(ViewBag.Error != "")
    {
        <p>NOT FOUND</p>
        <p>@ViewBag.Error</p>
    }
}

<h2>Buzon de entrada</h2>

<p>Mensajes: @ViewBag.TotalMessages</p>
<p>No Leidos: @ViewBag.TotalUnreadMessages</p>

<table>
    <tr>
        <th>Autor</th>
        <th>Fecha</th>
        <th>Leido</th>
    </tr>

</table>


