
@{
    ViewBag.Title = "Editar Comentario";
}

<h2>Editar Comentario</h2>





<form method="POST">



    <input type="hidden" name="id_tema_string" value="@ViewBag.TemaAModificar" />

    <input type="hidden" name="id_comentario_string" value="@ViewBag.id_comentario_seleccionado" />

    <label for="comentarioeditado">Comentario </label>


    <textarea name="comentarioeditado" cols="100" rows="4">@ViewBag.mensajeanterior</textarea>
    <br />
    <br />
    <br />

    <input type="submit" value=" Editar Comentario" />
</form>
