
@{
    ViewBag.Title = "Editar Comentario";
}

<h2>Editar Comentario</h2>





<form data-toggle="validator" role="form" method="POST">
    <input type="hidden" name="id_tema_string" value="@ViewBag.TemaAModificar" />

    <input type="hidden" name="id_comentario_string" value="@ViewBag.id_comentario_seleccionado" />

    <div class="form-group">
        <label class="control-label" for="comentarioeditado">Comentario </label>


        <textarea class="form-control" data-minlength="1"  name="comentarioeditado"  rows="4" required>@ViewBag.mensajeanterior</textarea>
        <div class="help-block with-errors"></div>
    </div>




    <button type="submit" class="btn btn-warning"> Enviar Comentario </button>


</form>
