
@{
    if (ViewBag.ErrorNumber == null)
    { 
        ViewBag.ErrorNumber = "-1";
    }
    ViewBag.Title = "Message";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="jquery-1.9.1.min.js"></script>
<script src="jquery.validate.js"></script>
<script src="/formulario.js"></script>
<link href="/style.css" rel="stylesheet">
<script src="/validator.js"></script>

<h1 class="text-center">Redactar nuevo mensaje</h1>
<form data-toggle="validator" role="form" method="POST">
    <div class="form-group">
        <label class="control-label" for="para">Destinatario: </label>
        <input class="form-control" pattern="^([_A-z0-9]){3,}$" maxlength="20" type="text" name="para" value="" placeholder="Ingrese destinatario..." required />
        <div class="error">@ViewBag.Error[0]</div>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="control-label" for="asunto">Asunto: </label>
        <input class="form-control"  maxlength="60" type="text" name="asunto" value="" placeholder="Ingrese un asunto..." required />
        <div class="error">@ViewBag.Error[1]</div>

    </div>
    <div class="form-group">
        <label class="control-label" for="mensaje">Mensaje: </label>
        <textarea class="form-control" maxlength="350" data-minlength="1" rows="10" name="mensaje" placeholder="Ingrese un mensaje" required> </textarea>

        <span class="help-block">Entre 1 - 350 caracteres </span>
 
          <div class="error">@ViewBag.Error[2]</div>
      
    </div>
    <div>

        <input class="btn btn-lg btn-primary" type="submit" value="Enviar" />
        <h1>@ViewBag.Error[3]</h1>
    </div>

</form>