
@{
    ViewBag.Title = "Message";
}

<h2>Redactar nuevo mensaje</h2>
<h2>@ViewBag.Error</h2>

<form method="POST">
    <label for="para">Para: </label>
    <input type="text" name="para" value="" /> <!--En value debe ir el VIEW DATA-->
    <br />

    <label for="asunto">Asunto: </label>
    <input type="text" name="asunto" value="" /> <!--En value debe ir el VIEW DATA-->
    <br />

    <label for="mensaje">Mensaje: </label>
    <textarea id = "private_message" cols="100" rows ="10" name="mensaje"> </textarea> <!--En value debe ir el VIEW DATA-->
    <br />
    <input type="submit" value="Enviar" />
</form>