@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

<div class="botoninicio">
    <a href="/Registro/Index">Registrarse</a>
    <a href="/IniciarSesion/Index">Iniciar Sesion </a>

    <a href="/CrearTema/Index ">Crear Tema (este link no debe ir aqui)</a>


</div>

<!-- Si no ha iniciado sesion se muestran las categorias publicas solamentes, en caso contrario se realiza la misma tabla pero llamando
    al ViewBag.ListaCategoriasPublicasYPrivadas. HACER!!-->
<div class="ListadoCategoriasPublicas"> <!--OJO! Hacer que solo se vean las publicas-->


   
    
Nombre Categoria | Descripcion | Cantidad de temas | Total de mensajes | Ultimo Comentado
<ul>
    @foreach (var categoria in ViewBag.ListaCategoriasPublicas)
    {
   
        <li>
        <a href="/Categoria/Index/@categoria.nombre">@categoria.nombre </a>  
            @categoria.descripcion
           
        </li>
        
        
    } 
</ul>

</div>